html,
body {
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

.layout {
    /* min-height: 100vh; */
    display: grid;
    grid-template-columns: auto min(calc(100% - 40px), 1200px) auto ;
    grid-template-rows: 100px auto;
    grid-template-areas: 
    ". header ."
    ". main .";
}

header {
    grid-area: header;
    background-color: white;
    color: black;
    display: grid;
    grid-template-columns: 200px auto;
    align-items: center;
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

nav {
    display: flex;
    gap: 20px;
    justify-self: end;
}

main div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 1200px) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    main {
        grid-template-columns: 1fr 1fr;
    }
}

/* /* .ca-grid {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px auto 400px;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer";
}

.ca-grid-header {
    grid-area: header;
    background-color: brown;
}

.ca-grid-main {
    grid-area: main;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}

.ca-grid-footer {
    grid-area: footer;
    background-color: blueviolet;
    color: white;
}

.ca-grid
 /* } */




